build/
.cache/
sinuca3
sinuca3-debug
compile_commands.json
trace/
docs/
*.so
*.o
trace_generator/pin/**/*.a

# The Intel Pin comes with some .o files already compiled.
# So they should not be ignored by git.
!trace_generator/pin/intel64/**
!trace_generator/pin/ia32/**
!trace_generator/pin/extras/**
