build/
.cache/
sinuca3
sinuca3-debug
sinuca3_trace_reader
compile_commands.json
trace/
docs/
*.so
*.o
trace_generator/pin/**/*.a
pin.log

*pintool.log

# The Intel Pin comes with some .o files already compiled.
# So they should not be ignored by git.
!trace_generator/pin/intel64/runtime/pincrt/crtendS.o
!trace_generator/pin/intel64/runtime/pincrt/crtbeginS.o
!trace_generator/pin/intel64/runtime/pincrt/crtend.o
!trace_generator/pin/intel64/runtime/pincrt/crtbegin.o
!trace_generator/pin/ia32/runtime/pincrt/crtendS.o
!trace_generator/pin/ia32/runtime/pincrt/crtbeginS.o
!trace_generator/pin/ia32/runtime/pincrt/crtend.o
!trace_generator/pin/ia32/runtime/pincrt/crtbegin.o
!trace_generator/pin/extras/components/lib/ia32/libdebugger-protocol.so
!trace_generator/pin/extras/components/lib/intel64/libdebugger-protocol.so
!trace_generator/pin/extras/xed-ia32/lib/libxed.so
!trace_generator/pin/extras/xed-intel64/lib/libxed.so
!trace_generator/pin/ia32/lib/libdwarf.so
!trace_generator/pin/ia32/lib/libpindwarf.so
!trace_generator/pin/ia32/lib/libpinjitprofiling.so
!trace_generator/pin/ia32/runtime/pincrt/libc++.so
!trace_generator/pin/ia32/runtime/pincrt/libc++abi.so
!trace_generator/pin/ia32/runtime/pincrt/libc-dynamic.so
!trace_generator/pin/ia32/runtime/pincrt/libdl-dynamic.so
!trace_generator/pin/ia32/runtime/pincrt/libm-dynamic.so
!trace_generator/pin/ia32/runtime/pincrt/libunwind-dynamic.so
!trace_generator/pin/intel64/lib/libdwarf.so
!trace_generator/pin/intel64/lib/libpindwarf.so
!trace_generator/pin/intel64/lib/libpinjitprofiling.so
!trace_generator/pin/intel64/runtime/pincrt/libc++.so
!trace_generator/pin/intel64/runtime/pincrt/libc++abi.so
!trace_generator/pin/intel64/runtime/pincrt/libc-dynamic.so
!trace_generator/pin/intel64/runtime/pincrt/libdl-dynamic.so
!trace_generator/pin/intel64/runtime/pincrt/libm-dynamic.so
!trace_generator/pin/intel64/runtime/pincrt/libunwind-dynamic.so
!trace_generator/pin/source/tools/InstLib/obj-intel64/
